@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: grid;
  grid-template-columns: 200px repeat(19, 1fr);
  grid-template-rows: 50px repeat(19, 1fr);
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#navbar {
  grid-area: 1 / 1 / 2 / 21;
}

#menu {
  grid-area: 2 / 1 / 21 / 2;
}

#outlet {
  grid-area: 2 / 2 / 21 / 21;
}

#pupil-details {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 30px 40px repeat(2, 1fr) 30px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

#pupil-details .top-bar {
  grid-area: 1 / 1 / 2 / 10;
}

#pupil-details .details-pane {
  grid-area: 2 / 1 / 5 / 3;
}

#pupil-details .main-pane {
  grid-area: 2 / 3 / 5 / 10;
}
